html {
  background-color: #c9b5ab;
  font-family: 'PT Serif', serif;}

ul:first-of-type {
  list-style-type: none;
  font-family: 'PT Sans', sans-serif;
}

a {
  color: #8f2440;
  text-decoration:none;
  font-family: 'PT Sans', sans-serif;
}

a:hover {
  text-decoration: underline;
}

h1, h2 {
  color: #3f1622;
  font-family: 'PT Sans', sans-serif;
}

figcaption {
  font-size: 1rem;
  font-style: italic;
  text-align: center;
}

img {
  width: 100%;
}

p:first-of-type {
  font-family: 'PT Sans', sans-serif;
}
