html {
  background-color: #c9b5ab;
  font-family: "PT Serif", serif;
  line-height: 1.5;
  font-weight: normal;
}

#navlinks ol {
  list-style-type: none;
  font-family: "PT Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}

a {
  color: #8f2440;
  text-decoration:none;
  font-family: "PT Sans", sans-serif;
}

a:hover {
  text-decoration: underline;
}

h1, h2 {
  color: #3f1622;
  font-family: "PT Sans", sans-serif;
}

figcaption {
  font-style: italic;
  text-align: center;
}

img {
  width: 100%;
}

p:first-of-type {
  font-size: 1.5rem;
  font-weight: bold;
}

blockquote {
  font-size: 1.5rem;
  font-style: italic;
}

cite {
  font-size: 0.8rem;
  font-style: italic;
}

ol:last-of-type {
  font-family: "PT Serif", serif;
  list-style-type: lower-greek;
  font-size: 1.25rem;
}

p:nth-of-type(4) {
  font-style: italic;
}

dt {
  font-weight: bold;
  font-family: "PT Serif", serif;
}

dd {
  font-family: "PT Serif", serif;
}
